@font-face {
    font-family: 'TitilliumWeb-ExtraLight';
    src: url('../../fonts/TitilliumWeb-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'TitilliumWeb-Regular';
    src: url('../../fonts/TitilliumWeb-Regular.ttf') format('truetype');
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #4DBCC4;
}

.login-form {
    font-family: 'TitilliumWeb-ExtraLight', sans-serif !important;
    background-color: #4dbcc4;
    color: white;
    text-align: center;
}

.resultSuccess{
	font-size: 17px;
	color: #00697C;
	font-style: italic;
	letter-spacing: 1px !important;
}

.bgBtnEntrar {
    font-family: 'TitilliumWeb-Regular', sans-serif !important;
    background-color: #00697C;
    border-radius: 5px !important;
    font-size: 16px;
    text-transform: none;
}

.btn:hover, .btn-large:hover, .btn:focus{
	background-color: #00697C;
}

.btnCadastrar {
    font-family: 'TitilliumWeb-Regular', sans-serif !important;
    border-radius: 5px !important;
    background-color: #00697C !important;
    font-size: 16px;
    text-transform: none !important;
    cursor: pointer;
    margin-top: 4% !important;
 }

.inputEmail {
    font-family: 'TitilliumWeb-Regular', sans-serif !important;
    margin: auto !important;
    margin-bottom: 10px !important;
	border-bottom: 1px solid #FFFFFF !important;
    text-transform: none;
    color: #FFFFFF;
    height: 25px !important;
    display: block !important;
    padding-top: 25px !important;
    font-size: 16px !important;
    margin-left: 3px !important;
    font-style: italic;
}

.input-field{
	width: 405px !important;
    margin: 0 auto !important;
}

.logoSICVLogin {
    display: block;
    margin: 0 auto;
    width: 170px;
    height: 59px;
}

.container {
	position: absolute;
    top:22%;
    right:0;
    left:0;
}
  
.btn-lg{
	height: 32px;
	width: 170px;
	padding: 0px;
    margin: auto;
}

/*input*/
h5 {
    font-family: TitilliumWeb-ExtraLight;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 33px !important;
    text-align: center;
    color: #FFFFFF;
}

.input-field label{
	color: #FFFFFF !important;
	left: 3px !important;
	top: 30% !important;
}

input[type=password]:not(.browser-default):focus:not([readonly]){
    font-size: 18px !important;
    color: #FFFFFF;
    border-bottom: 2px solid #00697C !important;
    box-shadow: none !important;
}

input[type=password]:not(.browser-default):focus:not([readonly])+label{
	color: #FFFFFF;
}

input[type=password].valid:not(.browser-default){
	border-bottom: 2px solid #00697C !important;
	box-shadow: none !important;
}

input[type=password]:not(.browser-default).invalid+label:after{
	width: 300% !important;
}

input[type=password].invalid:not(.browser-default){
	border-bottom: 2px solid #F44336 !important;
	box-shadow: none !important;
}
