@font-face {
    font-family: 'TitilliumWeb-ExtraLight';
    src: url('../../fonts/TitilliumWeb-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'TitilliumWeb-Regular';
    src: url('../../fonts/TitilliumWeb-Regular.ttf') format('truetype');
}


body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #FFFFFF;
}

.form-signin {
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;

}
.form-signin input[type="password"] {
    margin-bottom: 10px;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;

}
.login-form {
    font-family: 'TitilliumWeb-ExtraLight', sans-serif !important;
    background-color: #4dbcc4;
    color: white;
    text-align: center;
}

.bgBtnEntrar {
    font-family: 'TitilliumWeb-Regular', sans-serif !important;
    background-color: #00697C;
    border-radius: 5px !important;
    font-size: 16px;
    text-transform: none;
}

.btn:hover, .btn-large:hover, .btn:focus {
	background-color: #00697C;
}

.btnCadastrar {
    font-family: 'TitilliumWeb-Regular', sans-serif !important;
    border-radius: 0px !important;
    color: white;
    text-decoration: underline;
    padding: 5px;
}

.inputEmail {
    font-family: 'TitilliumWeb-Regular', sans-serif !important;
    margin: auto !important;
    margin-bottom: 10px !important;
	border-bottom: 1px solid #FFFFFF !important;
    text-transform: none;
    color: #FFFFFF;
    height: 25px !important;
    display: block !important;
    padding-top: 10px !important;
    font-size: 16px !important;
    margin-left: 2px !important;
}

.input-field{
	width: 405px !important;
    margin: 0 auto !important;
}

input[type=email]:not(.browser-default):focus:not([readonly]),input[type=password]:not(.browser-default):focus:not([readonly]){
    border-bottom: 2px solid #00697C !important;
    box-shadow: none !important;
}

.logoSICVLogin {
    display: block;
    margin: 0 auto;
    width: 170px;
    height: 59px;
}

.linkLogin {
    font-size: 16px;
    color: #00697C;
}

.remember {
    font-size: 16px;
    margin-right: 10px;
}

.container {
	position: absolute;
    top:22%;
    right:0;
    left:0;
}
  
.btn-lg{
	height: 32px;
	width: 170px;
	padding: 0px;
    margin: auto;
}

.btnReset{
	border-radius: 5px;
	text-transform: none;
}

[type="checkbox"].filled-in:not(:checked)+label:after, [type="checkbox"].filled-in:checked+label:after{
	background: #FFFFFF !important;
	border: 2px solid #00697C !important;
}

[type="checkbox"].filled-in:checked+label:before {
    border-right: 2px solid #4dbcc4 !important;
    border-bottom: 2px solid #4dbcc4 !important;
}

/*input*/
h5 {
    font-family: TitilliumWeb-ExtraLight;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 33px;
    text-align: center;
    color: #FFFFFF;
}

.input-field label{
	color: #FFFFFF;
	left: 2px !important;
}

input[type=email]:not(.browser-default):focus:not([readonly])+label,input[type=password]:not(.browser-default):focus:not([readonly])+label{
	color: #FFFFFF;
}