.short {
	font-weight: bold !important;
	color: #FF0000 !important;
	font-size: larger !important;
}

.weak {
	font-weight: bold;
	color: orange !important;
	font-size: larger;
}

.good {
	font-weight: bold;
	color: #2D98F3 !important;
	font-size: larger;
}

.strong {
	font-weight: bold;
	color: limegreen !important;
	font-size: larger;
}